/* header */
header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #4EAC31;
    height: calc(100vh * (92 / 852));
    position: sticky;
    top: 0;
    user-select: none;
    z-index: 1;
    padding: calc(100vh * (15 / 852)) 0;
}

header h1 {
    font-size: 1rem;
    color: #fff;
}

header .logout {
    position: absolute;
    left: calc(100% * (20 / 393));
    font-size: calc(1rem * (28 / 16));
    bottom: calc(100vh * (10 / 852));
    cursor: pointer;
}

/* main */
main {
    /* padding: 16px 0 76px; */
    padding: 16px 0 calc(100vh * (92 / 852))px;
    min-height: 90vh;
}

.container {
    width: calc(100% * (361 / 393));
    margin: 0 auto;
    max-width: 500px;
}

/* walk */
#map {
    width: 100%;
    height: calc(100vh * (320 / 852));
    margin: 0 auto;
    outline: 2px red solid;
}

#walk > div {
    text-align: center;
}

#distance {
    padding: 0;
    margin-top: calc(100vh * (20 / 852));
    width: 100%;
    background: #43992B;
    color: #fff;
    height: calc(100vh * (59 / 852));
    text-align: center;
    border-radius: 5px;
}

#distance option {
    background: #fff;
    color: #000;
}

#messages {
    margin-top: calc(100vh * (20 / 852));
    line-height: 19.2px;
}
#messages > p {
    display: none;
    font-weight: 500;
}

.btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.proceed-btn.generate-route {
    display: inline;
}

.walk-btns .btn:nth-child(3){
    margin-left: 16px;
}

.proceed-btn {
    background: #66CDAA;
}

#stop-btn {
    color: #fff;
    background: #ff0000;
    display: inline;
}

#stop-btn.hide {
    background: #ccc;
    cursor: auto;
    color: #000;
    box-shadow: none;
    opacity: 0.4;
}

#stop-btn.hide:active {
    transform: none;
}

#walk-belongings {
    width: calc(100% * ((276 - (2 * 2)) / 393));
    margin: 0 auto;
    border: 2px solid #666;
    border-radius: 4px;
    padding: 8px 0;
    position: absolute;
    top: calc(100vh * (112 / 852));
    right: calc(100% * (42.5 / 361));
    left: calc(100% * (42.5 / 361));
    min-height: 243px;
    background: #fff;
    display: none;
    box-sizing: border-box;
}

#walk-belongings h2 {
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 8px;
    border: 1px solid #000;
}

#walk-belongings ul li {
    margin-top: 4px;
}

/* calendar */
#calendar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    /* box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3); */
}

thead {
    background: #eee;
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

tbody td {
    height: 64px;
    vertical-align: top;
}

tbody td:first-child {
    color: red;
}

tbody td:last-child {
    color: blue;
}

tfoot {
    font-weight: bold;
    background: #eee;
}

td.disabled {
    opacity: 0.3;
}

td.today {
    font-weight: bold;
}

td.done {
    background: #66CDAA;
}

#prev,
#next,
#today {
    cursor: pointer;
    user-select: none;
    background: #bbb;
}

/* belongings */
#belongings {
    display: none;
    /* width: 60%;
    min-width: 300px; */
}

#belongings ul {
    margin-top: calc(100vh * (20 / 852));
}

#belongings li {
    margin-bottom: calc(100vh * (10 / 852));
    padding: 4px 8px;
    border: 2px solid #EAEAEA;
    border-radius: 5px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: calc(100vh * (49 / 852));
    font-size: calc(1rem * (14 / 16));
}

#belongings form {
    display: flex;
    gap: calc(100% * (10 / 393));
    /* gap: 8px; */
}

#belongings input {
    border-radius: 5px;
    width: calc(100% * (240 / 361));
    height: calc(100vh * (49 / 852));
    border: 2px solid #EAEAEA;
}

#belongings button {
    background: #43992B;
    color: #fff;
    width: calc(100% * (111 / 361));
    height: calc(100vh * (49 / 852));
    border-radius: 5px;
    /* min-width: 20%; */
    font-weight: bold;
}

.delete {
    cursor: pointer;
    margin-left: auto;
    color: #F8E466;
}

/* config */
/* .logout {
    margin: 16px auto;
    display: block;
    text-align: center;
    line-height: 64px;
} */

#config {
    display: none;
}

#config dl {
    margin: 0;
    font-size: 14px;
}

#config dl > div {
    /* margin-bottom: 8px; */
    border-bottom: 1px solid #A2A2A2;
}

#config dt {
    padding: calc(100vh * (16 / 852)) 0 calc(100vh * (15 / 852));
    cursor: pointer;
    user-select: none;
    position: relative;
    /* background: #66CDAA;
    border-radius: 4px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3); */
}

#config dt::after {
    content: "+";
    color: #43992B;
    font-weight: bold;
    position: absolute;
    right: 16px;
    transition: transform 0.3s;
}

#config dl > div.appear dt {
    /* box-shadow: none; */
}

#config dl > div.appear dt::after {
    transform: rotate(45deg);
}

#config dd {
    padding: 8px;
    margin: 0;
    display: none;
    background: #fff;
    border-radius: 0 0 4px 4px;
    /* box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3); */
}

#config dl > div.appear dd {
    display: block;
    animation: 0.3s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

#opinion,
#opinion-btn {
    display: block;
    width: 80%;
    margin: 8px auto 0;
}

#opinion-btn {
    background: #ccc;
    border: 1px solid #000;
    border-radius: 4px;
}

#thanks {
    display: none;
}

/* footer */
footer {
    max-width: 100%;
    height: calc(100vh * (83 / 852));
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
}

footer ul {
    display: flex;
    height: 100%;
}

footer li {
    width: 25%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
    border-top: 2px solid #888;
    background: rgb(216, 247, 199);
    color: #000;
}

footer li:nth-child(1) {
    background: #66CDAA;
}

footer li + li {
    border-left: 2px solid #888;
}
