/* common */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "Meiryo UI", "Hiragino Sans", "Yu Gothic UI", "MS PGothic", sans-serif;
}

.favicon {
    border-radius: 50%;
}

.whole-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.indent {
    text-indent: 1rem;
}

.btn {
    width: 40%;
    height: 64px;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-weight: bold;
    background: #ccc;
    border: 1px solid #999;
    border-radius: 16px;
    box-shadow: 0 3px black;
    display: none;
    margin-top: 16px;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #66CDAA;
    height: 60px;
    position: sticky;
    top: 0;
    user-select: none;
    z-index: 1;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: fantasy;
    margin: 0 0 0 16px;
}

/* login */
.consent {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 8px;
    margin-top: 48px;
}

.transparent {
    opacity: 0;
}

.tabs {
    display: flex;
    gap: 8px;
}

.tabs li {
    flex: 1;
}

.tabs li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 8px 0;
    color: #333;
    border-radius: 4px;
    border: 1px solid #000;
}

.tabs li a.active {
    background: #333;
    color: #fff;
}

.content.active {
    display: block;
    padding: 12px;
}

.content {
    display: none;
}

.introduction {
    background: #fff;
    border-radius: 4px;
    margin-top: 64px;
    width: 80%;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.introduction h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.logout.page-top {
    margin-top: 48px;
}

/* main */
main {
    padding: 16px 0 76px;
    min-height: 90vh;
    background: rgb(216, 247, 199);
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 500px;
}

/* walk */
#map {
    width: 100%;
    height: 300px;
    margin: 0 auto 16px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

#walk > div {
    text-align: center;
}

#distance {
    margin-top: 16px;
}

#messages > p {
    display: none;
    font-weight: bold;
}

.btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

.proceed-btn.generate-route {
    display: inline;
}

.walk-btns .btn:nth-child(3){
    margin-left: 16px;
}

.proceed-btn {
    background: #66CDAA;
}

#stop-btn {
    color: #fff;
    background: #ff0000;
    display: inline;
}

#stop-btn.hide {
    background: #ccc;
    cursor: auto;
    color: #000;
    box-shadow: none;
    opacity: 0.4;
}

#stop-btn.hide:active {
    transform: none;
}

#walk-belongings {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #666;
    border-radius: 4px;
    padding: 8px 0;
    position: absolute;
    top: 80px;
    right: 32px;
    left: 32px;
    min-height: 240px;
    background: #fff;
    display: none;
}

#walk-belongings h2 {
    width: 50%;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 8px;
    border: 1px solid #000;
}

#walk-belongings ul li {
    margin-top: 4px;
}

/* calendar */
#calendar {
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

thead {
    background: #eee;
}

th,
td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
}

tbody td {
    height: 64px;
    vertical-align: top;
}

tbody td:first-child {
    color: red;
}

tbody td:last-child {
    color: blue;
}

tfoot {
    font-weight: bold;
    background: #eee;
}

td.disabled {
    opacity: 0.3;
}

td.today {
    font-weight: bold;
}

td.done {
    background: #66CDAA;
}

#prev,
#next,
#today {
    cursor: pointer;
    user-select: none;
    background: #bbb;
}

/* belongings */
#belongings {
    display: none;
    width: 60%;
    min-width: 300px;
}

#belongings li {
    margin-bottom: 8px;
    padding: 4px 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: flex;
    background: #fff;
}

#belongings form {
    display: flex;
    gap: 8px;
}

#belongings input {
    width: calc(80% - 8px);
}

#belongings button {
    border: 1px solid #999;
    background: #ccc;
    padding: 0 4px;
    border-radius: 4px;
    min-width: 20%;
}

.delete {
    cursor: pointer;
    margin-left: auto;
}

/* config */
.logout {
    margin: 16px auto;
    display: block;
    text-align: center;
    line-height: 64px;
}

#config {
    display: none;
}

#config dl {
    margin: 0;
}

#config dl > div {
    margin-bottom: 8px;
}

#config dt {
    padding: 8px;
    cursor: pointer;
    user-select: none;
    position: relative;
    background: #66CDAA;
    border-radius: 4px;
    /* color: #fff; */
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

#config dt::after {
    content: "+";
    font-weight: bold;
    /* color: #fff; */
    position: absolute;
    right: 16px;
    transition: transform 0.3s;
}

#config dl > div.appear dt {
    box-shadow: none;
}

#config dl > div.appear dt::after {
    transform: rotate(45deg);
}

#config dd {
    padding: 8px;
    margin: 0;
    display: none;
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

#config dl > div.appear dd {
    display: block;
    animation: 0.3s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

#opinion,
#opinion-btn {
    display: block;
    width: 80%;
    margin: 8px auto 0;
}

#opinion-btn {
    background: #ccc;
    border: 1px solid #000;
    border-radius: 4px;
}

#thanks {
    display: none;
}

/* footer */
footer {
    max-width: 100%;
    height: 60px;
    position: sticky;
    right: 0;
    bottom: 0;
    left: 0;
    user-select: none;
}

footer ul {
    display: flex;
    height: 100%;
}

footer li {
    width: 25%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
    border-top: 2px solid #888;
    background: rgb(216, 247, 199);
    color: #000;
}

footer li:nth-child(1) {
    background: #66CDAA;
}

footer li + li {
    border-left: 2px solid #888;
}
